App_WebReferences/Mop/Audit/Huellas/Huellas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://soa.mop.gob.sv/mop/audit/Huellas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mop.Audit.ENT" />
  <xs:element name="registrarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mop.Audit.ENT" minOccurs="0" name="sesion" nillable="true" type="q1:Sesion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrarSesionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mop.Audit.ENT" minOccurs="0" name="sesion" nillable="true" type="q2:Sesion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarSesionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarNavegacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mop.Audit.ENT" minOccurs="0" name="navegacion" nillable="true" type="q3:Navegacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarNavegacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrarNavegacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarMovimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mop.Audit.ENT" minOccurs="0" name="movimiento" nillable="true" type="q4:Movimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarMovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrarMovimientoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mop.Audit.ENT" minOccurs="0" name="actividad" nillable="true" type="q5:Actividad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrarActividadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="auditarUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Mop.Audit.ENT" minOccurs="0" name="parAuditar" nillable="true" type="q6:ParAuditar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="auditarUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Mop.Audit.ENT" minOccurs="0" name="auditarUsuariosResult" nillable="true" type="q7:ArrayOfUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="auditarSesionesUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Mop.Audit.ENT" minOccurs="0" name="parAuditar" nillable="true" type="q8:ParAuditar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="auditarSesionesUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Mop.Audit.ENT" minOccurs="0" name="auditarSesionesUsuarioResult" nillable="true" type="q9:ArrayOfSesionesUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="auditarNavegacionSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Mop.Audit.ENT" minOccurs="0" name="parAuditar" nillable="true" type="q10:ParAuditar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="auditarNavegacionSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Mop.Audit.ENT" minOccurs="0" name="auditarNavegacionSesionResult" nillable="true" type="q11:ArrayOfNavegacionSesion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="auditarMovimientoNavegacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Mop.Audit.ENT" minOccurs="0" name="parAuditar" nillable="true" type="q12:ParAuditar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="auditarMovimientoNavegacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Mop.Audit.ENT" minOccurs="0" name="auditarMovimientoNavegacionResult" nillable="true" type="q13:ArrayOfMovimientoNavegacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>