App_WebReferences/Mop/Seg/BLL/WcfMaestra/Maestra.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://soa.mop.gob.sv/mop/seg/Maestra.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" />
  <xs:element name="Sistema_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="sistema" nillable="true" type="q1:Sistema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sistema_IResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sistema_IResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sistema_IL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstSistema" nillable="true" type="q2:ArrayOfSistema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sistema_ILResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sistema_ILResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sistema_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="sistema" nillable="true" type="q3:Sistema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sistema_AResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sistema_AResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sistema_AL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstSistema" nillable="true" type="q4:ArrayOfSistema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sistema_ALResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sistema_ALResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sistema_E">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="sistema" nillable="true" type="q5:Sistema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sistema_EResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sistema_EResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sistema_EL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstSistema" nillable="true" type="q6:ArrayOfSistema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sistema_ELResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sistema_ELResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sistema_B">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="sistema" nillable="true" type="q7:Sistema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sistema_BResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="Sistema_BResult" nillable="true" type="q8:ArrayOfSistema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="menu" nillable="true" type="q9:Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_IResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Menu_IResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_IL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstMenu" nillable="true" type="q10:ArrayOfMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_ILResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Menu_ILResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="menu" nillable="true" type="q11:Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_AResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Menu_AResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_AL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstMenu" nillable="true" type="q12:ArrayOfMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_ALResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Menu_ALResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_E">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="menu" nillable="true" type="q13:Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_EResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Menu_EResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_EL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstMenu" nillable="true" type="q14:ArrayOfMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_ELResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Menu_ELResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_B">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="menu" nillable="true" type="q15:Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_BResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="Menu_BResult" nillable="true" type="q16:ArrayOfMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="perfil" nillable="true" type="q17:Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_IResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Perfil_IResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_IL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstPerfil" nillable="true" type="q18:ArrayOfPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_ILResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Perfil_ILResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="perfil" nillable="true" type="q19:Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_AResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Perfil_AResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_AL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstPerfil" nillable="true" type="q20:ArrayOfPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_ALResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Perfil_ALResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_E">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="perfil" nillable="true" type="q21:Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_EResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Perfil_EResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_EL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstPerfil" nillable="true" type="q22:ArrayOfPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_ELResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Perfil_ELResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_B">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="perfil" nillable="true" type="q23:Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_BResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="Perfil_BResult" nillable="true" type="q24:ArrayOfPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detalle_Perfil_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="detalle_perfil" nillable="true" type="q25:Detalle_Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detalle_Perfil_IResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Detalle_Perfil_IResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detalle_Perfil_IL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstDetalle_Perfil" nillable="true" type="q26:ArrayOfDetalle_Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detalle_Perfil_ILResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Detalle_Perfil_ILResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detalle_Perfil_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="detalle_perfil" nillable="true" type="q27:Detalle_Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detalle_Perfil_AResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Detalle_Perfil_AResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detalle_Perfil_AL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstDetalle_Perfil" nillable="true" type="q28:ArrayOfDetalle_Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detalle_Perfil_ALResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Detalle_Perfil_ALResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detalle_Perfil_E">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="detalle_perfil" nillable="true" type="q29:Detalle_Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detalle_Perfil_EResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Detalle_Perfil_EResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detalle_Perfil_EL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstDetalle_Perfil" nillable="true" type="q30:ArrayOfDetalle_Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detalle_Perfil_ELResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Detalle_Perfil_ELResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detalle_Perfil_B">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="detalle_perfil" nillable="true" type="q31:Detalle_Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detalle_Perfil_BResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="Detalle_Perfil_BResult" nillable="true" type="q32:ArrayOfDetalle_Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetallePerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="parSeguridad" nillable="true" type="q33:ParSeguridad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetallePerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="DetallePerfilResult" nillable="true" type="q34:ArrayOfDetallePerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="usuario" nillable="true" type="q35:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_IResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_IResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_IL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstUsuario" nillable="true" type="q36:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ILResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_ILResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="usuario" nillable="true" type="q37:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_AResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_AResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_AL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstUsuario" nillable="true" type="q38:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ALResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_ALResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_E">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="usuario" nillable="true" type="q39:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_EResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_EResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_EL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstUsuario" nillable="true" type="q40:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ELResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_ELResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_B">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="usuario" nillable="true" type="q41:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_BResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="Usuario_BResult" nillable="true" type="q42:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_US">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="usuario" nillable="true" type="q43:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_USResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="Usuario_USResult" nillable="true" type="q44:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_Usuario_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="perfil_usuario" nillable="true" type="q45:Perfil_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_Usuario_IResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Perfil_Usuario_IResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_Usuario_IL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstPerfil_Usuario" nillable="true" type="q46:ArrayOfPerfil_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_Usuario_ILResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Perfil_Usuario_ILResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_Usuario_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="perfil_usuario" nillable="true" type="q47:Perfil_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_Usuario_AResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Perfil_Usuario_AResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_Usuario_AL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstPerfil_Usuario" nillable="true" type="q48:ArrayOfPerfil_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_Usuario_ALResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Perfil_Usuario_ALResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_Usuario_E">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="perfil_usuario" nillable="true" type="q49:Perfil_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_Usuario_EResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Perfil_Usuario_EResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_Usuario_EL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstPerfil_Usuario" nillable="true" type="q50:ArrayOfPerfil_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_Usuario_ELResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Perfil_Usuario_ELResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_Usuario_B">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="perfil_usuario" nillable="true" type="q51:Perfil_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_Usuario_BResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="Perfil_Usuario_BResult" nillable="true" type="q52:ArrayOfPerfil_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerfilesDeUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="parSeguridad" nillable="true" type="q53:ParSeguridad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerfilesDeUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="PerfilesDeUsuarioResult" nillable="true" type="q54:ArrayOfPerfilesDeUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parametros_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="parametros" nillable="true" type="q55:Parametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parametros_IResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Parametros_IResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parametros_IL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstParametros" nillable="true" type="q56:ArrayOfParametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parametros_ILResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Parametros_ILResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parametros_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="parametros" nillable="true" type="q57:Parametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parametros_AResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Parametros_AResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parametros_AL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstParametros" nillable="true" type="q58:ArrayOfParametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parametros_ALResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Parametros_ALResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parametros_E">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="parametros" nillable="true" type="q59:Parametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parametros_EResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Parametros_EResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parametros_EL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="lstParametros" nillable="true" type="q60:ArrayOfParametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parametros_ELResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Parametros_ELResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parametros_B">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="parametros" nillable="true" type="q61:Parametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parametros_BResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="Parametros_BResult" nillable="true" type="q62:ArrayOfParametros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>