App_WebReferences/Mop/Seg/BLL/BS3/SeguridadBS31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParSeguridad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Formulario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Menu" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Modulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Parametro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Perfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Sistema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParSeguridad" nillable="true" type="tns:ParSeguridad" />
  <xs:complexType name="ArrayOfUsuarioPerfiles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioPerfiles" nillable="true" type="tns:UsuarioPerfiles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioPerfiles" nillable="true" type="tns:ArrayOfUsuarioPerfiles" />
  <xs:complexType name="UsuarioPerfiles">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdPerfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioPerfiles" nillable="true" type="tns:UsuarioPerfiles" />
  <xs:complexType name="ArrayOfMenuModulo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuModulo" nillable="true" type="tns:MenuModulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuModulo" nillable="true" type="tns:ArrayOfMenuModulo" />
  <xs:complexType name="MenuModulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Icono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdMenu" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdModulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPadre" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdSistema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Jerarquia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NombreForma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UrlAyuda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlAyudaVideo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuModulo" nillable="true" type="tns:MenuModulo" />
  <xs:complexType name="ArrayOfPersonaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonaUsuario" nillable="true" type="tns:PersonaUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonaUsuario" nillable="true" type="tns:ArrayOfPersonaUsuario" />
  <xs:complexType name="PersonaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPersona" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonaUsuario" nillable="true" type="tns:PersonaUsuario" />
  <xs:complexType name="Menu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Icono" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="IdPadre" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Menu" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Modulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Jerarquia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Nombre_Forma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sistema" nillable="true" type="tns:Sistema" />
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url_Ayuda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url_Ayuda_Video" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Menu" nillable="true" type="tns:Menu" />
  <xs:complexType name="Sistema">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_Aprobacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_Produccion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_Solicitud" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Sistema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Unidad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Objetivo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sistema" nillable="true" type="tns:Sistema" />
  <xs:complexType name="ArrayOfMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Menu" nillable="true" type="tns:Menu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenu" nillable="true" type="tns:ArrayOfMenu" />
  <xs:complexType name="Correo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asunto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CC" nillable="true" type="tns:ArrayOfContacto" />
      <xs:element minOccurs="0" name="CCO" nillable="true" type="tns:ArrayOfContacto" />
      <xs:element minOccurs="0" name="Cuerpo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="De" nillable="true" type="tns:Contacto" />
      <xs:element minOccurs="0" name="Firma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Html" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Para" nillable="true" type="tns:ArrayOfContacto" />
      <xs:element minOccurs="0" name="Sistema" nillable="true" type="tns:Sistema" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Correo" nillable="true" type="tns:Correo" />
  <xs:complexType name="ArrayOfContacto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contacto" nillable="true" type="tns:Contacto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContacto" nillable="true" type="tns:ArrayOfContacto" />
  <xs:complexType name="Contacto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DireccionCorreo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdContacto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contacto" nillable="true" type="tns:Contacto" />
</xs:schema>