App_WebReferences/Mop/Seg/BLL/BS3/SeguridadBS32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://soa.mop.gob.sv/mop/seg/SeguridadBS3.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" />
  <xs:element name="NombreDelSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="parSeguridad" nillable="true" type="q1:ParSeguridad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NombreDelSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreDelSistemaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="parSeguridad" nillable="true" type="q2:ParSeguridad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarUsuarioContrasena">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="parSeguridad" nillable="true" type="q3:ParSeguridad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarUsuarioContrasenaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarUsuarioContrasenaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioPerfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="parSeguiridad" nillable="true" type="q4:ParSeguridad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioPerfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="UsuarioPerfilesResult" nillable="true" type="q5:ArrayOfUsuarioPerfiles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuPrincipal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="parSeguridad" nillable="true" type="q6:ParSeguridad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuPrincipalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MenuPrincipalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuModulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="parSeguiridad" nillable="true" type="q7:ParSeguridad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuModuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="MenuModuloResult" nillable="true" type="q8:ArrayOfMenuModulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioNR">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="parseguridad" nillable="true" type="q9:ParSeguridad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioNRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioNRResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NombreFormulario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="parSeguridad" nillable="true" type="q10:ParSeguridad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NombreFormularioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreFormularioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarPersonaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="parSeguridad" nillable="true" type="q11:ParSeguridad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarPersonaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="CargarPersonaUsuarioResult" nillable="true" type="q12:ArrayOfPersonaUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="menu" nillable="true" type="q13:Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="BuscarMenuResult" nillable="true" type="q14:ArrayOfMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="correo" nillable="true" type="q15:Correo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarCorreoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PistaNavegacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Mop.Seg.ENT" minOccurs="0" name="parSeguridad" nillable="true" type="q16:ParSeguridad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PistaNavegacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PistaNavegacionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>