App_WebReferences/Mop/Rh/Personal/WcfPersonal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfPersonal" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://soa.mop.gob.sv/mop/rh/Personal.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://soa.mop.gob.sv/mop/rh/Personal.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://soa.mop.gob.sv/mop/rh/Personal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mop.Rh.ENT" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfPersonal_cargarFotografia_InputMessage">
    <wsdl:part name="parameters" element="tns:cargarFotografia" />
  </wsdl:message>
  <wsdl:message name="IWcfPersonal_cargarFotografia_OutputMessage">
    <wsdl:part name="parameters" element="tns:cargarFotografiaResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfPersonal_cargarDatosFotografias_InputMessage">
    <wsdl:part name="parameters" element="tns:cargarDatosFotografias" />
  </wsdl:message>
  <wsdl:message name="IWcfPersonal_cargarDatosFotografias_OutputMessage">
    <wsdl:part name="parameters" element="tns:cargarDatosFotografiasResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfPersonal_cargarPersonalUnidad_InputMessage">
    <wsdl:part name="parameters" element="tns:cargarPersonalUnidad" />
  </wsdl:message>
  <wsdl:message name="IWcfPersonal_cargarPersonalUnidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:cargarPersonalUnidadResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfPersonal_cargarPersonalUnidadHijos_InputMessage">
    <wsdl:part name="parameters" element="tns:cargarPersonalUnidadHijos" />
  </wsdl:message>
  <wsdl:message name="IWcfPersonal_cargarPersonalUnidadHijos_OutputMessage">
    <wsdl:part name="parameters" element="tns:cargarPersonalUnidadHijosResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfPersonal_cargarUsuariosUnidad_InputMessage">
    <wsdl:part name="parameters" element="tns:cargarUsuariosUnidad" />
  </wsdl:message>
  <wsdl:message name="IWcfPersonal_cargarUsuariosUnidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:cargarUsuariosUnidadResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfPersonal_cargarUsuariosUnidadHijos_InputMessage">
    <wsdl:part name="parameters" element="tns:cargarUsuariosUnidadHijos" />
  </wsdl:message>
  <wsdl:message name="IWcfPersonal_cargarUsuariosUnidadHijos_OutputMessage">
    <wsdl:part name="parameters" element="tns:cargarUsuariosUnidadHijosResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfPersonal_cargarUnidadesOrganizativas_InputMessage">
    <wsdl:part name="parameters" element="tns:cargarUnidadesOrganizativas" />
  </wsdl:message>
  <wsdl:message name="IWcfPersonal_cargarUnidadesOrganizativas_OutputMessage">
    <wsdl:part name="parameters" element="tns:cargarUnidadesOrganizativasResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfPersonal_cargarDatosPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:cargarDatosPersona" />
  </wsdl:message>
  <wsdl:message name="IWcfPersonal_cargarDatosPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:cargarDatosPersonaResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfPersonal">
    <wsdl:operation name="cargarFotografia">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfPersonal/cargarFotografia" message="tns:IWcfPersonal_cargarFotografia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfPersonal/cargarFotografiaResponse" message="tns:IWcfPersonal_cargarFotografia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cargarDatosFotografias">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfPersonal/cargarDatosFotografias" message="tns:IWcfPersonal_cargarDatosFotografias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfPersonal/cargarDatosFotografiasResponse" message="tns:IWcfPersonal_cargarDatosFotografias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cargarPersonalUnidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfPersonal/cargarPersonalUnidad" message="tns:IWcfPersonal_cargarPersonalUnidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfPersonal/cargarPersonalUnidadResponse" message="tns:IWcfPersonal_cargarPersonalUnidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cargarPersonalUnidadHijos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfPersonal/cargarPersonalUnidadHijos" message="tns:IWcfPersonal_cargarPersonalUnidadHijos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfPersonal/cargarPersonalUnidadHijosResponse" message="tns:IWcfPersonal_cargarPersonalUnidadHijos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cargarUsuariosUnidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfPersonal/cargarUsuariosUnidad" message="tns:IWcfPersonal_cargarUsuariosUnidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfPersonal/cargarUsuariosUnidadResponse" message="tns:IWcfPersonal_cargarUsuariosUnidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cargarUsuariosUnidadHijos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfPersonal/cargarUsuariosUnidadHijos" message="tns:IWcfPersonal_cargarUsuariosUnidadHijos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfPersonal/cargarUsuariosUnidadHijosResponse" message="tns:IWcfPersonal_cargarUsuariosUnidadHijos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cargarUnidadesOrganizativas">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfPersonal/cargarUnidadesOrganizativas" message="tns:IWcfPersonal_cargarUnidadesOrganizativas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfPersonal/cargarUnidadesOrganizativasResponse" message="tns:IWcfPersonal_cargarUnidadesOrganizativas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cargarDatosPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfPersonal/cargarDatosPersona" message="tns:IWcfPersonal_cargarDatosPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfPersonal/cargarDatosPersonaResponse" message="tns:IWcfPersonal_cargarDatosPersona_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfPersonal" type="tns:IWcfPersonal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cargarFotografia">
      <soap:operation soapAction="http://tempuri.org/IWcfPersonal/cargarFotografia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarDatosFotografias">
      <soap:operation soapAction="http://tempuri.org/IWcfPersonal/cargarDatosFotografias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarPersonalUnidad">
      <soap:operation soapAction="http://tempuri.org/IWcfPersonal/cargarPersonalUnidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarPersonalUnidadHijos">
      <soap:operation soapAction="http://tempuri.org/IWcfPersonal/cargarPersonalUnidadHijos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarUsuariosUnidad">
      <soap:operation soapAction="http://tempuri.org/IWcfPersonal/cargarUsuariosUnidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarUsuariosUnidadHijos">
      <soap:operation soapAction="http://tempuri.org/IWcfPersonal/cargarUsuariosUnidadHijos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarUnidadesOrganizativas">
      <soap:operation soapAction="http://tempuri.org/IWcfPersonal/cargarUnidadesOrganizativas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarDatosPersona">
      <soap:operation soapAction="http://tempuri.org/IWcfPersonal/cargarDatosPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfPersonal">
    <wsdl:port name="BasicHttpBinding_IWcfPersonal" binding="tns:BasicHttpBinding_IWcfPersonal">
      <soap:address location="http://soa.mop.gob.sv/mop/rh/Personal.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>